AMAZE_WITH_UI=true
AMAZE_CONTAINER_NAME=amaze-mcp
AMAZE_UID=501
AMAZE_GID=20
AMAZE_HOST_HOME=/Users/steve
AMAZE_HOME=/Users/steve
AMAZE_CACHE_DIR=/Users/steve/.cache/amaze-mcp
AMAZE_CACHE_HOST_PATH=/Users/steve/.cache/amaze-mcp
AMAZE_LOG_LEVEL=info
AMAZE_WORKERS=4
AMAZE_UI_PORT=9749
AMAZE_UI_INTERNAL_PORT=19749
